body{
    background-color: var(--bs-info-bg-subtle);
}


.container{
    margin: 30px;
    
}
.form-field{
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    margin-top: 20px;
}
.form-buttons{
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
}

.input{
    margin-left: 83px;
    padding-top: 5px;
    width: 100%;
    position: relative;
    bottom: 22px;
}
.btn1{
    margin-left: 8px;
    height: 34px;
    font-size: 12px;
    padding-top: 2px;
    width: 109px;
    position: relative;
    padding-bottom: 1px;
}
.btn1:hover{
    background-color: var(--bs-info-bg-subtle);
    color: black;
}
.options{
    position: relative;
    margin-left: 80px;
    bottom: 24px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.option1{
    position: relative;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    top: 45px;
    right: 305px;
}
/* .btn{
   
    height: 28px;
    width: 109px ;
} */


.my1{
    border: 1px solid black;
    width: 1100px;
}