
.result{margin: 30px;
  position: relative;
  top: 20px;
  left: 30px;}



.radionbtn{
  position: relative;
  margin: 20px;
  padding-left: 388px 
} */



.form{
  margin: 20px;
  position: relative;
  top: 10px;
  left: 0px;
  width: 97%
}

.label{
  font-size: 15px;
}


.input1{
  margin-left: 20px;
  width: 29%;
  position: relative;
  left: 83px;
  margin-top: 20px;
}

/* .form-label{
  position: relative;
  left: 140px;
} */

.txt{
  margin-top: 20px;
  position: relative;
  left: 104px;
  height: 100px;
  width: 370px;
}
.check{
  margin-top: 20px;
  position: relative;
  left: 140px;
}

.drop{
  margin-left: 20px;
  position: relative;
  left: 85px;
}

.btn2{
  margin-top: 20px;
  position: relative;
  left: 200px;
}

.form-control{
position: relative;
left: 105px;
}

.field{
  position: relative;
  left: -60px;
  bottom: 5px
}
.btn{
  position: relative;
  height: 35px;
  /* padding-top: 2px; */
  width: 72px ;
  
  
}

.submit{
  margin-left: 159px;
  margin-top: 20px 
}

.file{
position: relative;
left: 140px;
}
    